<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			@ViewData["Title"]
		</title>
		<link rel="shortcut icon" href="~/assets/icons/icono.ico" />
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
		<link
			rel="stylesheet"
			href="~/UD.ProgramacionWeb.ProyectoFinal.WizardTrack.styles.css"
			asp-append-version="true"
		/>
	</head>
	<body>
		<header>
			<nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
				<div class="container-fluid">
					<a
						class="navbar-brand"
						asp-area=""
						asp-controller="User"
						asp-action=""
					>
						<img
							src="~/assets/icons/icono.png"
							width="50"
							alt="Icono"
							class="mr-3"
						/>WizardTrack
					</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div
						class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
					>
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item d-flex justify-content-center align-content-center">
								<div class="dropdown">
									<button
										class="btn dropdown-toggle"
										type="button"
										data-bs-toggle="dropdown"
										aria-expanded="false"
									>
										Perfil
									</button>
									<ul class="dropdown-menu dropdown-menu-dark">
										<li class="dropdown-item d-flex gap-2 align-items-center">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-envelope"
												viewBox="0 0 16 16"
											>
												<path
													d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
												/>
											</svg>
										Email: <span id="txtEmailUser"></span>
									</li>
										<li class="dropdown-item d-flex gap-2 align-items-center">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-person-circle"
												viewBox="0 0 16 16"
											>
												<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
												<path
													fill-rule="evenodd"
													d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
												/>
											</svg>
										Nombre: <span id="txtNameUser"></span>
										</li>
										<li class="dropdown-item d-flex gap-2 align-items-center">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-chevron-double-right"
												viewBox="0 0 16 16"
											>
												<path
													fill-rule="evenodd"
													d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"
												/>
												<path
													fill-rule="evenodd"
													d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"
												/>
											</svg>
											Id: <span id="txtIdUser"></span>
										</li>
										<li><hr class="dropdown-divider" /></li>
										<li
											class="dropdown-item dropdown-item-danger d-flex gap-2 align-items-center"
										>
											<button id="btnSessionClose" class="btn btn-danger">Cerrar Sesion</button>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a
									class="nav-link text-dark"
									asp-area=""
									asp-controller="User"
									asp-action=""
									>Inicio
								</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link text-dark"
									asp-area=""
									asp-controller="Metrics"
									asp-action=""
									>Graficas
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<main role="main" class="pb-3">@RenderBody()</main>
		</div>

		<footer class="border-top footer text-muted">
			<div class="container">
				&copy; 2023 - UD.ProgramacionWeb.ProyectoFinal.WizardTrack -
				<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</footer>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/metrics/data.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>
