@{
    ViewData["Title"] = "Graficas";
    Layout = "_Layout";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container w-100">
    <div class="row">
        <canvas id="statisticIncome"></canvas>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <canvas id="statisticSpent"></canvas>
            </div>
            <div class="row">
                <div div="divContainerCanvas" >
                    <canvas id="statisticSaveCount"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<script src="~/js/metrics/data.js"></script>
<script src="~/js/metrics/grafics.js"></script>