@{
    ViewData["Title"] = "Graficas";
    Layout = "_Layout";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container w-100">
    <div class="d-flex justify-content-end " >
            <button id="btnPrintReportPDF" class="btn btn-outline-success">
                imprimir informe PDF
            </button>
        </div>
    <div class="row">
        <div id="reportDiv" class="col-md-6"></div>
        <div class="col-md-6">
            <div class="row">
                <canvas id="statisticSpent"></canvas>
            </div>
            <div class="row">
                <div div="divContainerCanvas" >
                    <canvas id="statisticSaveCount"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <canvas height="400" id="statisticIncome"></canvas>
    </div>
</div>
<script src="~/js/lib/html2canvas.min.js"></script>
<script src="~/js/metrics/data.js"></script>
<script src="~/js/metrics/grafics.js"></script>