@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="container mt-4">
        <ul  class="list-group" id="listSpent">
            <li class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="~/assets/icons/piggy-bank.svg" alt="twbs" width="32" height="32" class="text-dark">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">List group item heading</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                    </div>
                    <div>
                        <small class="opacity-50 text-nowrap me-3">now</small>
                        <input id="check1" type="checkbox" class="btn-check " />
                        <label class="btn btn-outline-success" for="check1">Finalizar</label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container mt-4">
        <ul  class="list-group" id="listDebt">
            <li class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="~/assets/icons/bank.svg" alt="twbs" width="32" height="32" class="text-dark">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">List group item heading</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                    </div>
                    <div>
                        <small class="opacity-50 text-nowrap me-3">now</small>
                        <input id="check1" type="checkbox" class="btn-check " />
                        <label class="btn btn-outline-success" for="check1">Finalizar</label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container mt-4">
        <ul  class="list-group" id="listIncome">
            <li class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="~/assets/icons/wallet.svg" alt="twbs" width="32" height="32" class="text-dark">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">List group item heading</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
                    </div>
                    <div>
                        <small class="opacity-50 text-nowrap me-3">now</small>
                        <input id="check1" type="checkbox" class="btn-check " />
                        <label class="btn btn-outline-success" for="check1">Finalizar</label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="~/js/metrics/data.js"></script>
<script src="~/js/inicio.js"></script>