@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-start justify-content-between">
    <div class="container mt-4">
        <ul  class="list-group" id="listSpent">
        </ul>
    </div>
    <div class="container mt-4">
        <ul  class="list-group" id="listDebt">
        </ul>
    </div>
    <div class="container mt-4">
        <ul  class="list-group" id="listIncome">
        </ul>
    </div>
</div>
<script src="~/js/metrics/data.js"></script>
<script src="~/js/inicio.js"></script>