@{
    ViewData["Title"] = "Inicio";
    Layout = "_Layout";
}

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-start justify-content-between">
    <div class="container mt-4">
        <ul  class="list-group" id="listSpent">
        </ul>
    </div>
    <div class="container mt-4">
        <ul  class="list-group" id="listDebt">
        </ul>
    </div>
    <div class="container mt-4">
        <ul  class="list-group" id="listIncome">
        </ul>
    </div>
    <div class="modal fade"id="modal"tabindex="-1"aria-labelledby="ItemsModal"aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="modal-title"></h1>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div id="modalBody" class="modal-body"></div>
					<div class="modal-footer">
						<button
							id="btnCloseModal"
							type="button"
							class="btn btn-danger"
							data-bs-dismiss="modal"
						>
							Cerrar
						</button>
						<button id="btnEnviarModal" type="button" class="btn btn-primary">
							Guardar cambios
						</button>
					</div>
				</div>
			</div>
		</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/metrics/data.js"></script>
<script src="~/js/utilModal.js"></script>
<script src="~/js/inicio.js"></script>
